<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <h5 class="card-title">{{city.name}}</h5>
          <div class="row">
            <div class="col-6">
              <div id="icon"><img id="wicon" [src]="city.iconUrl" alt="Weather icon"></div>
            </div>
            <div class="col-6">
              <h4 class="card-text">{{city.main.temp | number:'0.0-0'}} ºC</h4>
            </div>
          </div>
          <p class="card-text">{{city.weather[0].description | firstLetterUpper}}</p>
        </div>
        <div class="col-6">
            <p class="card-text"><small class="text-muted">Air Pressure: {{city.main.pressure}} hPa</small></p>
            <p class="card-text"><small class="text-muted">Humidity: {{city.main.humidity}} %</small></p>
            <p class="card-text"><small class="text-muted">Max: {{city.main.temp_max | number:'0.0-0'}} ºC</small></p>
            <p class="card-text"><small class="text-muted">Min: {{city.main.temp_min | number:'0.0-0'}} ºC</small></p>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
